.footer-alt {
    padding: 15px 30px;
    background-color: #2e313a;
    overflow: hidden;
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
}
}
@media (min-width: 992px){
.col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
.float-left {
    float: left!important;
}
.float-left {
    float: left!important;
}
.copy-rights {
    margin-bottom: 0;
    line-height: 36px;
}
.text-muted {
    color: #858d96!important;
}
@media (min-width: 576px){
.mb-sm-0, .my-sm-0 {
    margin-bottom: 0!important;
}
}