<nav
  class="navbar navbar-expand-lg fixed-top navbar-white navbar-custom sticky sticky-dark"
>
  <div class="container">
    <a href="/" class="navbar-brand logo text-uppercase"
      >
      <img src="../../assets/np_logo.jpeg" style="width: 75px;
      " />
      <!-- <i class="mdi mdi-alien"></i>NP Enterprise  -->
      </a
    >
    <!-- <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
    >
      <i class="mdi mdi-menu"></i>
    </button> -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul id="mySidenav" class="navbar-nav navbar-center">
        <li class="nav-item active">
          <a href="javascript: void(0);" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#services" class="nav-link">Services</a>
        </li>
        <!-- <li class="nav-item">
          <a href="javascript: void(0);" class="nav-link">About</a>
        </li> -->
        <li class="nav-item">
          <a href="#contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
