<section class="section bg-home home-half">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-white text-center">
        <h4 class="home-small-title">Awesome Design</h4>
        <h1 class="home-title">We love make things amazing and simple</h1>
        <p class="padding-t-15 home-desc mx-auto">
          Maecenas class semper class semper sollicitudin lectus lorem iaculis
          imperdiet aliquam vehicula tempor auctor curabitur pede aenean ornare.
        </p>
        <p class="play-shadow margin-l-r-auto">
          <a class="play-btn video-play-icon"
            ><i class="mdi mdi-play text-center"></i
          ></a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-sm bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="client-images my-3 my-md-0">
          BPL
        </div>
      </div>
      <div class="col-md-3">
        <div class="client-images my-3 my-md-0">
          Godrej
        </div>
      </div>
      <div class="col-md-3">
        <div class="client-images my-3 my-md-0">
          Samsung
        </div>
      </div>
      <div class="col-md-3">
        <div class="client-images my-3 my-md-0">
          Sony
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services" class="section bg-light">
  <div class="container" style="max-width: 1200px;">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1 class="section-title text-center">
          Our Services
        </h1>
        <div
          _ngcontent-fik-c17=""
          class="section-title-border margin-t-20"
        ></div>
        <p
          _ngcontent-fik-c17=""
          class="section-subtitle text-muted text-center padding-t-30 font-secondary"
        >
          We craft digital, graphic and dimensional thinking, to create category
          leading brand experiences that have meaning and add a value for our
          clients.
        </p>
      </div>
    </div>
    <div class="row margin-t-30">
      <div class="col-lg-4 margin-t-20">
        <div class="services-box">
          <div class="media">
            <i class="pe-7s-diamond text-custom"></i>
            <div class="media-body ml-4">
              <h4 _ngcontent-fik-c17="">Digital Design</h4>
              <p class="pt-2 text-muted">
                Some quick example text to build on the card title and make up
                the bulk of the card's content. Moltin gives you the platform.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 margin-t-20">
        <div class="services-box">
          <div class="media">
            <i class="pe-7s-display2 text-custom"></i>
            <div class="media-body ml-4">
              <h4 _ngcontent-fik-c17="">Unlimited Colors</h4>
              <p class="pt-2 text-muted">
                Credibly brand standards compliant users without extensible
                services. Anibh euismod tincidunt ut laoreet Ipsum passage.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 margin-t-20">
        <div class="services-box">
          <div class="media">
            <i class="pe-7s-piggy text-custom"></i>
            <div class="media-body ml-4">
              <h4 _ngcontent-fik-c17="">Strategy Solutions</h4>
              <p class="pt-2 text-muted">
                Separated they live in Bookmarksgrove right at the coast of the
                Semantics, a large language ocean necessary regelialia.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 margin-t-20">
        <div class="services-box">
          <div class="media">
            <i class="pe-7s-science text-custom"></i>
            <div class="media-body ml-4">
              <h4 _ngcontent-fik-c17="">Awesome Support</h4>
              <p class="pt-2 text-muted">
                It is a paradisematic country, in which roasted parts of
                sentences fly into your mouth leave for the far World.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 margin-t-20">
        <div class="services-box">
          <div class="media">
            <i class="pe-7s-news-paper text-custom"></i>
            <div class="media-body ml-4">
              <h4 _ngcontent-fik-c17="">Truly Multipurpose</h4>
              <p class="pt-2 text-muted">
                Even the all-powerful Pointing has no control about the blind
                texts it is an almost unorthographic.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 margin-t-20">
        <div class="services-box">
          <div class="media">
            <i class="pe-7s-plane text-custom"></i>
            <div class="media-body ml-4">
              <h4 _ngcontent-fik-c17="">Easy to customize</h4>
              <p class="pt-2 text-muted">
                Question Marks and devious Semikoli, but the Little Blind Text
                didn’t listen. She packed her seven versalia.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section  id="contact" class="section-contact">
  <div  class="container" style="max-width:1140px">
    <div  class="row">
      <div  class="col-lg-8 offset-lg-2">
        <h1  class="section-title text-center">
          Get In Touch
        </h1>
        <div
          
          class="section-title-border margin-t-20"
        ></div>
        <p
          
          class="section-subtitle text-muted text-center font-secondary padding-t-30"
        >
          We thrive when coming up with innovative ideas but also understand
          that a smart concept should be supported with measurable results.
        </p>
      </div>
    </div>
    <div  class="row">
      <div  class="col-lg-4">
        <div  class="mt-4 pt-4">
          <p  class="mt-4">
            <span  class="h5">Office Address:</span
            ><br  /><span
              
              class="text-muted d-block mt-2"
              >2467 Swick Hill Street <br  />New Orleans,
              LA 70171</span
            >
          </p>
          <p  class="mt-4">
            <span  class="h5">Working Hours:</span
            ><br  /><span
              
              class="text-muted d-block mt-2"
              >9:00AM To 6:00PM</span
            >
          </p>
        </div>
      </div>
      <div  class="col-lg-8" style="max-width: 62.666667%;">
        <div  class="custom-form mt-4 pt-4">
          <div  id="message"></div>
          <form
            
            method="post"
            action="php/contact.php"
            name="contact-form"
            id="contact-form"
          >
            <div  class="row">
              <div  class="col-lg-6" style="width: 30%;">
                <div  class="form-group mt-2">
                  <input
                    
                    name="name"
                    id="name"
                    type="text"
                    placeholder="Your name*"
                    class="form-control"
                  />
                </div>
              </div>
              <div  class="col-lg-6">
                <div  class="form-group mt-2">
                  <input
                    
                    name="email"
                    id="email"
                    type="email"
                    placeholder="Your email*"
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div  class="row">
              <div  class="col-lg-12" style="width: 100%;">
                <div  class="form-group mt-2">
                  <input
                    
                    type="text"
                    style="width:94%;"
                    id="subject"
                    placeholder="Your Subject.."
                    class="form-control"
                  />
                </div>
              </div>
            </div>
            <div  class="row">
              <div  class="col-lg-12" style="width: 100%;">
                <div  class="form-group mt-2">
                  <textarea
                  style="width:94%;"
                    name="comments"
                    id="comments"
                    rows="4"
                    placeholder="Your message..."
                    class="form-control"
                  ></textarea>
                </div>
              </div>
            </div>
            <div  class="row" style="    float: right;
            margin-right: 4px;">
              <div  class="col-lg-12 text-right">
                <input
                  style="padding: 10px 22px;border-color: #1bbc9d !important;    background-color: #1bbc9d !important;    border: 1px solid;
                  color: #fff;
                  transition: all .3s;
                  font-size: 14px;    box-shadow: none!important;cursor: pointer;"
                  type="button"
                  id="submit"
                  name="send"
                  value="Send Message"
                  class="submitBnt btn btn-custom"
                />
                <div  id="simple-msg"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
